<ic-container>

    <ic-input>
        &lt;Input/&gt;
    </ic-input>

    <ic-input [error]="true">
        &lt;Input&quot;error&quot;/&gt;
    </ic-input>


    <ic-input [disabled]="true">
        &lt;Input disabled /&gt;
    </ic-input>


    <ic-input helpertext="Some interesting text">
        &lt;Input helperText=”Some interesting text” /&gt;
    </ic-input>

    <ic-input [error]="true" helpertext="Some interesting text">
        &lt;Input helperText=”Some interesting text” error/&gt;
    </ic-input>

    <ic-input value="Text">
        &lt;Input value=”text” /&gt;
    </ic-input>

    <ic-input size="sm">
        &lt;Input size=”sm” &gt;
    </ic-input>

    <ic-input size="md">
        &lt;Input size=”md” &gt;
    </ic-input>

    <ic-input [fullWidth]="true">
        &lt;Input fullWidth &gt;
    </ic-input>


    <ic-input [multiline]="true" [row]="4">
        &lt;Input multiline row=”4”/&gt;
    </ic-input>


    </ic-container>